*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}




section{
    display: flex;
}
section .nav-menu{
    padding-top: 146px;
    width: 30%;
    background: #2D3E4F;
    text-transform: uppercase;
}
section .nav-menu h2{
    margin: 60px 95px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: #CF404D;
}
section .nav-menu a{
    width: 100px;
    margin: 20px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.icons{
    margin-top: 100%;
    padding: 10px;
    border: 1px solid #fff;
}



section .main-project{
    width: 100%;
    height: 100%;
}
.container{
    width: 920px;
    margin: 0 auto;
}
.wel{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/img/IMAGE\ \(4\).png);
}
.welcome{
    margin-top: 305px;
    margin-bottom: 325px;
    text-align: center;
    text-transform: uppercase;
}
.welcome h2{
    margin: 0 auto;
    width: 621px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
}
.welcome-wrap{
    margin: 35px 0;
}
.welcome-wrap button{
    margin: 0 5px;
    padding: 11px 22px 15px 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-transform: capitalize;
    background-color: #CF404D;
    border: 2px solid #CF404D;
    border-radius: 4px;
    transition: .5s;
}
.welcome-wrap button:hover{
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
    transition: .5s;
}